:root{
    --text-color: #000;
    --primary-color: #314CA5;
    --secondary-color: #F5CF21;
    --background-color: #E8F1FF;
    --background-color-2: #D4E1F4;
    --background-gradient: linear-gradient(var(var(--background-color)), var(var(--background-color-2)));
}

body{
    background: var(--background-gradient);
}