header{
	background-color: #fff;
	position: relative;
	z-index: 999;
}

header #top{
	width: 100%;
	height: 80px;
	margin-bottom: 30px;
}

header .wrapper{
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
	background-color: #fff;	
}

header .wrapper .wrapperContent{
	z-index: 999;
    top: 0;
    left: 0;
    right: 0;
	max-width: var(--max-width);
	margin: 0 auto;
	padding: 0 30px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .wrapper .logo{
    height: 50%;
}

header .wrapper .logo img{
    width: auto;
    height: 100%;
}

header .navList{
	position: absolute;
	z-index: -1;
	width: 80%;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	background: #fff;
	box-shadow: 0px 10px 10px rgba(0,0,0,0.2);
	transition: all 0.3s ease-out;
}

header .navList ul{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

header .navList ul li{
	flex: 1;
	width: 100%;
	transition: all 0.2s ease-in-out;
	padding: 10px 0;
	text-align: center;
}

header .navList ul li:hover,
header .navList ul li[active]
{
	background: var(--primary-color);
	color: #fff;
}

header .wrapper .iconMenu{
	background: none;
	border: none;
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}


header .wrapper .iconMenu div span{
	display: block;
	width: 30px;
	--height: 4px;
	height: var(--height);
	border-radius: 10px;
	background: var(--primary-color);
	transition: all 300ms ease-out;
}

header .wrapper .iconMenu div span:nth-child(1){
	transform: translateY(calc(-1.2 * var(--height)));
}

header .wrapper .iconMenu div span:nth-child(3){
	transform: translateY(calc(1.2 * var(--height)));
}


/* Show Nav List */
header.showNavList .wrapper .iconMenu div span:nth-child(1){
	transform: translateY(var(--height)) rotate(45deg);
}
header.showNavList .wrapper .iconMenu div span:nth-child(2){
	opacity: 0;
	transform: translateX(-100%) scaleX(0);
}
header.showNavList .wrapper .iconMenu div span:nth-child(3){
	transform: translateY(calc(-1 * var(--height))) rotate(-45deg);
}

header.showNavList .navList{
	transform: translateX(-50%) translateY(100%);
}