.wrapperSlideShow {
	position: relative;
	width: 100%;
}

.wrapperSlideShow .controls {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	pointer-events: none;
}

.wrapperSlideShow .controls .next,
.wrapperSlideShow .controls .prev {
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2em;
}

.wrapperSlideShow .controls .next iconify-icon,
.wrapperSlideShow .controls .prev iconify-icon {
	color: var(--primary-color);
	filter: drop-shadow(0 5px 10px #fff);
}

.slideShow {
	width: 100%;
	height: 100%;
	min-height: 200px;
	position: relative;
	overflow: auto;
	display: flex;
	align-items: center;
	scroll-snap-type: x mandatory;
}

.slideShow .slide {
	width: 100%;
	height: 100%;
	min-width: 200px;
	scroll-snap-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 20px;
	text-decoration: none;
	transition: all 200ms ease-out;
}

.slideShow .slide:hover {
	transform: scale(1.1);
}

.slideShow .slide .icon {
	background-color: var(--primary-color);
	border-radius: 50%;
	font-size: 3em;
	width: 75px;
	height: 75px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.slideShow .slide .icon iconify-icon {
	color: #fff;
}

.slideShow .slide p {
	/* font-size: 1.5em; */
	font-weight: 500;
	text-align: center;
}
