.mainWrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.mainWrapper .mainContentPhoto {
	display: none;
	max-width: 30%;
	width: auto;
}

.mainWrapper .mainContentPhoto img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.mainContent {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.mainContent h1 {
	font-size: 2em;
	color: #fff;
}

.mainContent p {
	color: #fff;
}

.mainContent h1 b {
	color: var(--secondary-color);
}

.coordenação,
.composicao {
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
}

.centerTable{
	width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.wrapperTable {
	overflow: auto;
	display: flex;
	align-items: center;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	
}

.table {
	position: relative;
	width: max-content;
	min-width: 830px;
	display: flex;
	flex-direction: column;
}

.table .header {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	background: var(--primary-color);
	padding: 0 30px;
	gap: 30px;
}

.table .header h3 {
	color: #fff;
	font-size: 1.5em;
	flex: 1;
	padding: 10px 0;
	width: 100%;
	max-width: 400px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.table .header h3:not(:last-child) {
	border-right: 1px solid #0003;
}

.table .content {
	position: relative;
	display: flex;
	flex-direction: column;
	background: #fff;
}

.table .content .row {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	padding: 0 30px;
	gap: 30px;
}

.table .content .row span {
	flex: 1;
	padding: 10px 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	max-width: 400px;
}

.table .content .row span:not(:last-child) {
	border-right: 1px solid #0003;
}

.table .content .row:nth-child(even) {
	background: #f8f8f8;
}

@media (min-width: 860px) {
	.mainWrapper .mainContentPhoto {
		display: block;
	}
	.mainContent {
		max-width: 50%;
	}
}
