.mainWrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.mainWrapper .mainContentPhoto {
	display: none;
	max-width: 30%;
	width: auto;
}

.mainWrapper .mainContentPhoto img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.mainContent {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.mainContent h1 {
	font-size: 2em;
	color: #fff;
}

.mainContent p,
.mainContent p b {
	color: #fff;
}

.mainContent h1 b {
	color: var(--secondary-color);
}

#listaSemestres {
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
	justify-content: center;
}

#listaSemestres .card {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	max-width: 400px;
	width: 100%;
}

#listaSemestres .card h2 {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 30px;
	background: var(--primary-color);
	color: #fff;
}

#listaSemestres .card ul {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-between;
}

#listaSemestres .card ul a {
	padding: 10px 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	text-decoration: none;
}

#listaSemestres .card ul a:nth-child(even) {
	background: #f8f8f8;
}

@media (min-width: 860px) {
	.mainWrapper .mainContentPhoto {
		display: block;
	}
	.mainContent {
		max-width: 50%;
	}
}

.break {
	flex-basis: 100%;
	height: 0;
}
